[parameter]
learn_rate = 0.001
batch_size = 380

num_epochs = 400

[getfile]
model_folder = .\saved_model\
train_loss_path = .\train_loss
test_loss_path = .\test_loss
thaliana_result_path = thaliana-result.csv
melanogaster_result_path = melanogaster-result.csv

[dataset]
train_dir = E:\DNAN6mAsites\dataset\A.thaliana_train.xlsx
test_dir = E:\DNAN6mAsites\dataset\A.thaliana_test.xlsx

